
/* CSS styles for the Login Page */
body {
  background-image: url("gggg.avif");
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    /* Styles for the header */
  }
  
  main {
    /* Styles for the main content area */
  }
  
  .login-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 4px;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  form select,
  form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  form button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  footer {
    /* Styles for the footer */
  }
  
