/* styles.css */

.container {
    max-width: 960px; /* Increase maximum width for better content presentation */
    margin: 0 auto; /* Center container horizontally */
    padding: 20px; /* Add padding for better spacing */
  }
  
  .add-medicine-form {
    display: none; /* Hide the add-medicine form by default */
  }
  